/*Inserta tu css aqui*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    margin:0;
    background-color:#D8DBD6;
}

h2{
    font-family:"Roboto";
    font-size:12px;
}

p{
    font-family:"Roboto";
    font-size:10px;
}

.nombre{
    font-family:"Roboto";
    font-size:12px;
}




.green{
    position: absolute;
    z-index: -1;
    background-color: #009688;
    width: 100%;
    height: 127px;
    top:0;

}

.container{
    width:80%;
    margin:auto;
    position:relative;
    top:19px;
    background-color:white;
    overflow:hidden;
    
    /*flex*/
    display: flex;
    flex-direction:row;
}


/*-------columna 1------*/

.columna1{
    height: 100%;
    transform: translateZ(0);
    overflow: hidden;
    
    
    /*flex*/
    display: flex;
   flex-direction:column;
    
}

.avatar-gian-header{
  
   
   
   /*flex*/ 
   display: flex;
   flex-direction:row;
   justify-content:space-between;
   align-items:center;
}

.list-chat {
    height:500px;
    overflow: auto;
}

.scroll-bar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scroll-bar::-webkit-scrollbar
{
	width: 6px;
	background-color: #CACACA;
}

.scroll-bar::-webkit-scrollbar-thumb
{
	background-color:  #CACACA;
}

.elemento{
     /*flex*/ 
   display: flex;
   justify-content:space-between;
}


.radius{
    background-size:contain;
    height: 40px;
    width: 40px;
    border-radius:50%;
}

.fotolab {
    background-image:url(../image/logocodeacademy.png);
}

.fotoraymi {
    background-image:url(../image/raymi.jpg);
}

.fotomariana {
    background-image:url(../image/mariana.jpg);
}

.fotoanamaria {
    background-image:url(../image/anamaria.jpg);
}

.fotorodulfo {
    background-image:url(../image/rodulfo.jpg);
}

.fotoandrea {
    background-image:url(../image/andrea.jpg);
}

.fotopapu {
    background-image:url(../image/mariapaula.jpg);
}

.fotokaty {
    background-image:url(../image/katy.jpg);
}

.fotoaldo {
    background-image:url(../image/aldo.jpg);
}

.fotogian {
    background-image:url(../image/gian.jpg);
}


/*-------columna 2-----*/
#left{
    width:100%;
}
.columna2{
    height:100%;
    
       /*flex*/
    display: flex;
    flex-direction:column;
}

.elemento avatar-lab{
    display: flex;
   flex-direction:row;
   justify-content:space-between;
   align-items:center;
}
.chat{
    background-image:url(../image/chat-panel-bg.png);
    background-color:#EDE9E4;
     /*flex*/
    display: flex;
    flex-direction:column;
    flex-wrap:no-wrap;
}

/*-----------------mediaqueries---*/
@media screen and (min-width: 1176px){
    .columna1{
        width:359px;
}
}


@media screen and (max-width: 1176px){
    .container{
        width:100%;
        top:0px;
}
}

@media screen and (max-width: 1176px){
.columna1{
        width:359px;
}
}